/* Spin Animation */
@-moz-keyframes spin {
     25% { -moz-transform: rotate(30deg); }
     50% { -moz-transform: rotate(0deg); }
     75% { -moz-transform: rotate(-30deg); }
     100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
     25% { -webkit-transform: rotate(30deg); }
     50% { -webkit-transform: rotate(0deg); }
     75% { -webkit-transform: rotate(-30deg); }
     100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
     25% {
          -webkit-transform: rotate(30deg);
          transform:rotate(30deg);
     }
     50% {
          -webkit-transform: rotate(0deg);
          transform:rotate(0deg);
     }
     75% {
          -webkit-transform: rotate(-30deg);
          transform:rotate(-30deg);
     }
     100% {
          -webkit-transform: rotate(0deg);
          transform:rotate(0deg);
     }
}

/* Bounce Animation */
@-moz-keyframes bounce {
     25% { -moz-transform: rotate(30deg); }
     50% { -moz-transform: rotate(0deg); }
     75% { -moz-transform: rotate(-30deg); }
     100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes bounce {
     25% { -webkit-transform: rotate(30deg); }
     50% { -webkit-transform: rotate(0deg); }
     75% { -webkit-transform: rotate(-30deg); }
     100% { -webkit-transform: rotate(0deg); }
}
@keyframes bounce {
     from {
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
          transform: translateY(0);
     }
     to {
          -ms-transform: translateY(5px);
          -webkit-transform: translateY(5px);
          transform: translateY(5px);
     }
}

:hover.spin{
     -webkit-animation:spin 1s linear infinite;
     -moz-animation:spin 1s linear infinite;
     animation:spin 1s linear infinite;
}
:hover.bounce {
     -webkit-animation: bounce .3s cubic-bezier(.5,.05,1,.5) infinite;
     -moz-animation: bounce .3s cubic-bezier(.5,.05,1,.5) infinite;
     animation: bounce .3s cubic-bezier(.5,.05,1,.5) infinite;
     animation-direction: alternate;
}
