/* Start Tabs */
*{
    box-sizing: border-box;
}

.tablist {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tablist button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablist button:hover {
    background-color: #ddd;
}

.tablist button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tablist .w3-border-teal{
    border-color: #009688!important;
    background-color: #00968842 !important;
}

.tablist .w3-border-orange{
    background-color: #ff980042 !important;
    border-color: #ff9800!important;
}

/* End Tabs */

.hidden{
	display: none;
}

.nolink{
	text-decoration: none;
}

.w3-dark-gray button{
    color: #fff;
}

.remove-padding{
    padding: 0 !important;
}

h1{	font-size: 44px !important; }
h2{	font-size: 38px !important; }
h3{ font-size: 32px !important; }
p{ 
	font-size: 20px !important;
	padding: 0 8px;
}
input, textarea{ font-size: 20px !important; font: none !important; }

h3, p, button{
	 font-family: 'Fjalla One', sans-serif !important;
}

input, textarea{
	font-family: 'VT323', monospace !important;
}

h2{
	font-family: 'Orbitron', sans-serif !important;
}

h1{
	font-family: 'Faster One', cursive !important;
}

input{
	/*background-color: #616161 !important;*/
	color: black !important;
}

.w3-card-2 img{
	width: 100%;
}

.horList ul
{
	width: 100%;
    margin: 0;
    padding: 0;
}

.sidePadding{
	padding-left: 16px;
	padding-right: 16px;
}

.horList ul li
{
    list-style-type: none;
    display: inline;
}

.horList li:not(:first-child):before {
    content: " | ";
}

.mySlides img{
	width: 100%;
}

button.slider{
	height: 100%;
}

.clearBoth{
	clear: both;
}

.icon{
	width: 50px !important;
}

textarea{
	resize: none;
}

label, input, textarea{
	cursor: pointer;
}
