:root {
  --accent: #eeeeee;
  --main: #000;
  --alt: #fff;
}

/*************************************\
|               Layout                |
\*************************************/
html {
  background-color: var(--alt);
  color: var(--main);
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: 'header'
    'main'
    'footer';
}

header {
  grid-area: header;
  padding: 16px 16px;
  text-align: center;
  border-bottom: 4px solid var(--main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

main {
  grid-area: main;
  padding: 0 16px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  grid-area: footer;
  border-top: 4px solid var(--main);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  padding: 0 16px;
  margin-top: 36px;
}

hr {
  border: solid 1px var(--main);
  margin: 24px 0;
}

/*************************************\
|                 Fonts               |
\*************************************/
p, a, span { font-size: 1em; }
h1 {
  background-color: var(--alt);
  font-size: 2em;
}
h2 { font-size: 1.75em; }
h3 { font-size: 1.2em; }
h1, h2, h3, p, a, span, li { font-family: 'Roboto', Tahoma, sans-serif; }
/* h3, h3 a { font-family: 'Open Sans Condensed', Tahoma, sans-serif; } */

a { color: var(--main); }
h3 { margin: 0; }


/*************************************\
|               Header                |
\*************************************/
.header-content .contact {
  grid-area: contact;
}

.header-content .headshot img {
  display: block;
  max-width: 215px;
  max-height: 215px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

/*************************************\
|               Socials               |
\*************************************/
.socials {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.socials i {
  text-decoration: none;
  color: var(--main);
  font-size: 36px;
  padding: 0 4px;
}

.socials i:hover {
  opacity: 0.7;
}

/*************************************\
|            Google Icons             |
\*************************************/
.material-icons {
  margin-right: 4px;
  float: left;
}

.material-icons.text, .material-symbols-outlined.text {
  float: none;
  font-size: 14px;
  font-weight: bold;
}

/*************************************\
|            Google Icons             |
\*************************************/

.split-header {
  display: grid;
  grid-template-areas: 'icon text';
  grid-template-columns: 64px 1fr;
  align-items: center;
}

.split-header i {
  display: block;
  grid-area: icon;
  text-align: center;
}

.split-header i.h2 {
  font-size: 42px;
}

.split-header i.h3 {
  font-size: 28px;
}

.split-header h2 {
  border-left: 4px dotted var(--main);
  padding-left: 24px;
}

.split-header h2, .split-header h3 {
  grid-area: text;
}

/*************************************\
|          Cards and Badges           |
\*************************************/
ul.badges {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

ul.badges li {
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--main);
  border-radius: 6px;
  color: var(--alt);
  display: flex; /* Ensures the content inside the list items can adjust */
  flex-grow: 1;
  justify-content: center; /* Centers the text inside each item */
  list-style: none;
  margin-top: 4px;
  padding: 4px 22px;
}

ul.flex {
  display: flex; /* Ensures the content inside the list items can adjust */
  justify-content: center; /* Centers the text inside each item */
  align-items: center;
  flex-grow: 1;
}

ul.badges li.expand {
  color: var(--main);
  background-color: var(--alt);
}

ul.badges li.expand:hover {
  color: var(--accent);
  background-color: var(--main);
  cursor: pointer;
}

.card {
  border: 4px solid var(--main);
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 16px;
}

/*************************************\
|              Backgrounds            |
\*************************************/
.slashed {
  background: repeating-linear-gradient( -55deg, var(--accent), var(--accent) 5px, var(--alt) 5px, var(--alt) 10px );
}

.dotted {
  background: linear-gradient(90deg, var(--alt) 26px, transparent 1%) center, linear-gradient(var(--alt) 26px, transparent 1%) center, var(--accent);
  background-size: 30px 30px;
}

/*************************************\
|           Project buttons           |
\*************************************/

.minefield-button {
  align-items: center;
  background-image: url('https://www.ryanrackemann.com/img/minefield-preview.gif');
  background-size: 480px;
  border: 4px solid var(--main);
  border-radius: 8px;
  display: flex;
  font-size: 30px;
  gap: 10px;
  justify-content: center;
  min-height: 200px;
  text-decoration: none;
  width: 100%;
}

.minefield-button span {
  align-items: center;
  background-color: var(--main);
  border-radius: 8px;
  color: var(--alt);
  display: flex;
  justify-content: center;
  padding: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.minefield-button:hover span {
  background-color: var(--alt);
  color: var(--main);
}

.minefield-button i {
  font-size: 30px;
}

/*************************************\
|           Utility Classes           |
\*************************************/

.margin-left-small {
  margin-left: 10px;
}

.margin-right-small {
  margin-right: 10px;
}

.margin-left-medium {
  margin-left: 20px;
}

.margin-right-medium {
  margin-right: 20px;
}

.hidden {
  display: none;
}

@media (min-width: 600px)
{
  .header-content {
    display: grid;
    grid-template-areas: 'header contact';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-content .contact {
    grid-area: contact;
    grid-row: 1;
    grid-column: 2;
  }

  .header-content .headshot {
    grid-area: headshot;
    grid-row: 1;
    grid-column: 1;
  }

  ul.badges {
    gap: 3px;
  }

  ul.badges li {
    display: inline-block;
    flex-grow: 0;
    padding: 4px 20px;
  }
}
