:root {
	--dark: #0a2326;
	--blue: #006877;
	--white: #e4eaea;
	--orange: #e66036;
	--dark-gray: #3e3e3e;
	--less-dark-gray: #929292;

/* Color Variables with defaults */
	--header-bg: var(--dark);
	--header-txt: var(--white);
	--header-icon: var(--white);
	--header-icon-hvr: var(--blue);
	--header-bottom-border: var(--blue);
	--main-bg: var(--dark);
	--main-txt: var(--white);
	--footer-bg: var(--blue);
	--footer-txt: var(--white);
	--card-bg: var(--white);
	--card-drop: var(--blue);
	--card-txt: var(--dark);
	--card-icon: var(--blue);
	--btn-bg: var(--dark);
	--btn-txt: var(--white);
	--btn-hvr: var(--blue);
	--btn-icon: var(--white);
	--btn-icon-hvr: var(--white);
	--tag-bg: var(--blue);
	--tag-txt: var(--white);
	--timeline-bar: var(--dark);
	--main-mobile-1-bg: var(--white);
	--main-mobile-1-txt: var(--dark);
	--main-mobile-1-icon: var(--blue);
	--main-mobile-2-bg: var(--dark);
	--main-mobile-2-txt: var(--white);
	--main-mobile-2-icon: var(--blue);
	--main-mobile-3-bg: var(--white);
	--main-mobile-3-txt: var(--dark);
	--main-mobile-3-icon: var(--blue);
	--main-mobile-4-bg: var(--dark);
	--main-mobile-4-txt: var(--white);
	--main-mobile-4-icon: var(--blue);
	--main-mobile-5-bg: var(--white);
	--main-mobile-5-txt: var(--dark);
	--main-mobile-5-icon: var(--blue);
	--main-mobile-6-bg: var(--dark);
	--main-mobile-6-txt: var(--white);
	--main-mobile-6-icon: var(--blue);
	--scroll: var(--dark-gray);
	--scroll-bg: var(--less-dark-gray);
}
::-webkit-scrollbar {
	height:5px;
	background: var(--scroll-bg);
}
::-webkit-scrollbar-thumb {
	background: var(--scroll);
}
* { box-sizing: border-box; }
i {
     font-family: 'Material Icons';
     color: var(--icons);
     font-weight: normal;
     font-style: normal;
     display: inline-block;
     vertical-align: middle;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;
     /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
     /* Support for IE. */
     font-feature-settings: 'liga';
}
html, body { margin: 0; }
h1, h2 { margin: 0 }
h1 {
     font-family: 'Orbitron', sans-serif;
     letter-spacing: 4px;
     font-size: 32px;
}
h2 {
     font-family: 'Orbitron', sans-serif;
     letter-spacing: 2px;
     font-size: 30px;
     margin: 18px 0;
}
h3 {
     font-family: 'Montserrat', sans-serif;
     font-size: 24px;
     font-style: oblique;
}
h4 {
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
}
p, li, a {
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     line-height: 24px;
}
input {
     font-family: 'Press Start 2P', cursive;
     font-size: 14px;
     letter-spacing: 4px;
}
.experience, .education, .projects, .collaborations, .skills, .gallery {
     grid-column: auto / span 2;
}

.experience, .experience i {
	background-color: var(--main-mobile-1-bg);
	color: var(--main-mobile-1-txt);
}
.education, .education i {
	background-color: var(--main-mobile-2-bg);
	color: var(--main-mobile-2-txt);
}
.projects, .projects i {
	background-color: var(--main-mobile-3-bg);
	color: var(--main-mobile-3-txt);
}
.collaborations, .collaborations i {
	background-color: var(--main-mobile-4-bg);
	color: var(--main-mobile-4-txt);
}
.skills, .skills i {
	background-color: var(--main-mobile-5-bg);
	color: var(--main-mobile-5-txt);
}
.gallery, .gallery i {
	background-color: var(--main-mobile-6-bg);
	color: var(--main-mobile-6-txt);
}
.btn {
     display: flex;
     text-decoration: none;
     background-color: var(--btn-bg);
     color: var(--btn-txt);
     padding: 16px;
     width: fit-content;
}
.btn i.material-icons {
	background-color: var(--btn-bg);
	color: var(--btn-icon);
	margin-left: 8px;
}
.btn:hover {
	background-color: var(--btn-hvr);
	color: var(btn-bg);
}
.btn:hover i {
	background-color: var(--btn-hvr);
	color: var(btn-bg);
}
.btn:hover > i.material-icons { color: var(--btn-icon-hvr); }
.profiles a i {
	color: var(--header-icon);
	font-size: 36px;
}
i.fab {
     font-size: 24px;
     padding-bottom: 3px;
}
h2 > i.material-icons {
     font-size: 36px;
     margin-right: 10px;
     padding-bottom: 4px;
}
h3 > i.material-icons, h4 > i.material-icons {
     font-size: 24px;
     margin-right: 6px;
     padding-bottom: 2px;
}
.content { grid-area: content; }
.taglist div {
     background-color: var(--tag-bg);
     color: var(--tag-txt);
     border-radius: 6px;
     padding: 3px 6px;
     margin: 0 8px 8px 0;
}
.taglist div p {
     font-family: 'Press Start 2P', cursive;
     letter-spacing: 2px;
     font-size: 12px;
     margin: 4px 12px;
}
.flex div, .stack div { display: inline-flex; }
ul { list-style: none; }
li { padding-left: 12px; }
/* Google Material Icon Unicode sheet */
li:before {
     content: "\e5da";
     font-family: 'Material Icons';
     display: inline-block;
     margin-left: -12px;
     margin-right: 6px;
     font-size: 18px;
}
header {
	background-color: var(--header-bg);
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 24px;
	top: 0;
	z-index: 1;
	border-bottom: 4px solid var(--header-bottom-border);
	width: 100%;
}
@supports (position: sticky) {
     header {
          position: -webkit-sticky;
          position: sticky;
     }
}
header a { text-decoration: none; }
header a i.fab {
	font-size: 36px;
	margin-left: 8px;
}
body {
     background-color: var(--main-bg);
     color: var(--main-txt);
}
main > *, footer { padding: 16px 24px; }
main {
     display: grid;
     grid-template-columns: 1fr;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--footer-bg);
	color: var(--footer-txt);
     font-size: 18px;
     font-weight: bold;
}
footer .close-tag {
     font-family: 'Press Start 2P', cursive;
     font-size: 12px;
     letter-spacing: 6px;
}
footer .colorSwitcher {
	cursor: pointer;
	border: none;
	background-image: linear-gradient(to bottom, #ff0000, #f36300, #de9200, #c3b700, #a1d600, #76dd54, #47e184, #00e2ad, #00c7da, #00a5ff, #0078ff, #0200ff);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color:transparent;
	background-clip: text;
	color: transparent;
}
footer .colorSwitcher i {
	display: inline;
	font-size: 36px;
}
header a:hover i.fab { color: var(--header-icon-hvr); }
.photo-gallery {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
     grid-gap: 24px;
}
.photo-gallery img {
     border-radius: 6px 42px 42px;
     width: 100%;
}
.pallet {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000cc;
	align-items: center;
	justify-content: center;
}
.pallet-content {
	padding: 32px;
	width: 70%;
	height: 80%;
	color: black;
	background-image: linear-gradient(to right top, #ff9414, #c7b921, #8ed062, #53dda7, #3be4e1);
	overflow: auto;
}
.pallet-content h2 .material-icons {
	margin-left: 8px;
	color: black;
}
.selection-wrapper {
	display: block;
	text-align: right;
	font-size: 24px;
	font-variant-caps: small-caps;
}
.selection-wrapper input {
	background-color: var(--dark-gray);
	border: none;
	padding: 12px;
	color: var(--white);
	font-size: 18px;
	text-transform: lowercase;
	width: 100%;
}
.exit{
	color: var(--light-gray);
	float: right;
	font-size: 36px;
	font-weight: bolder;
}
.exit:hover, .exit:focus {
	color: var(--less-dark-gray);
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (min-width: 1200px) {
     .timeContentGrid {
          display: grid;
          grid-template-areas: 'time content';
          grid-template-columns: 40px 1fr;
          grid-gap: 8px;
     }
     .timeWrap {
          grid-area: time;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     .time {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          white-space: nowrap;
          transform: rotate(-90deg);
          z-index: 0;
     }
	.timeWrap { border-right: var(--timeline-bar) solid 2.2px; }
	.selection-wrapper {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 16px;
		justify-content: center;
		align-items: center;
	}
     .stack div {
          display: list-item;
          list-style: none;
          text-align: center;
     }
     .experience, .education, .projects, .collaborations, .skills, .gallery {
		background-color: var(--card-bg);
		color: var(--card-txt);
          padding: 16px;
          border-radius: 12px;
          box-shadow: -8px -8px var(--card-drop);
     }
	.experience i, .education i, .projects i, .collaborations i, .skills i, .gallery i {
		background-color: var(--card-bg);
		color: var(--card-icon);
	}
     main {
          grid-gap: 24px;
          margin: 24px;
          grid-template-columns: repeat(10, 1fr);
          grid-template-rows: repeat(3, auto);
     }
     .align-start { align-self: self-start; }
     .experience {
          grid-column: auto / span 5;
          grid-row: 1 / span 1;
     }
     .education {
          grid-column: auto / span 4;
          grid-row: 1 / span 1;
     }
     .skills {
          grid-column: auto / span 1;
          grid-row: 1 / span 2;
     }
     .projects {
          grid-column: auto / span 5;
          grid-row: 2 / span 1;
     }
     .collaborations {
          grid-column: auto / span 4;
          grid-row: 2 / span 1;
     }
     .gallery {
          grid-column: 1 / span 10;
          grid-row: 3 / span 1;
     }
     .photo-gallery {
          grid-gap: 16px;
          grid-template-columns: repeat(4, 1fr);
     }
}
