:root {
     --dark: #0a2326;
     --blue: #006877;
     --white: #e4eaea;
}
html, body {
     margin: 0;
}
h1, h2 {
     margin: 0
}
h1 {
     font-family: 'Orbitron', sans-serif;
     letter-spacing: 4px;
     font-size: 42px;
}
h2 {
     font-family: 'Orbitron', sans-serif;
     letter-spacing: 2px;
     font-size: 30px;
     margin: 18px 0;
}
h3 {
     font-family: 'Montserrat', sans-serif;
     font-size: 24px;
     font-style: oblique;
}
h4 {
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
}
p, li, a {
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     line-height: 24px;
}
footer * {
     font-family: 'Press Start 2P', cursive;
     font-size: 12px;
     letter-spacing: 6px;
}
body {
     background-color: var(--dark);
     color: var(--white);
}
header {
     border-bottom: 4px solid var(--blue);
     position: relative;
     top: 0;
     z-index: 1;
     width: 100%;
     display: inline-grid;
     grid-template-areas: 'title' 'externals';
     grid-template-columns: 1fr;
     grid-template-rows: auto auto;
     justify-content: center;
     align-items: center;
     text-align: center;
}
@supports (position: sticky) {
     header {
          position: -webkit-sticky;
          position: sticky;
     }
}
main > *, footer {
     padding: 16px 24px;
}
.white {
     background-color: var(--white);
     color: var(--dark);
}
.dark {
     background-color: var(--dark);
     color: var(--white);
}
.blue {
     background-color: var(--blue);
     color: var(--white);
}
.dark *::selection, .blue *::selection {
     background: var(--white);
     color: var(--dark);
}
.white *::selection {
     background: var(--dark);
     color: var(--white);
}
i {
     font-family: 'Material Icons';
     color: var(--blue);
     font-weight: normal;
     font-style: normal;
     display: inline-block;
     vertical-align: middle;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;
     /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
     /* Support for IE. */
     font-feature-settings: 'liga';
}
a i {
     color: var(--white);
}
.externals a i {
     font-size: 36px;
}
i.fab {
     font-size: 24px;
     padding-bottom: 3px;
}
h2 > i.material-icons {
     font-size: 36px;
     margin-right: 10px;
     padding-bottom: 4px;
}
h3 > i.material-icons, h4 > i.material-icons {
     font-size: 24px;
     margin-right: 6px;
     padding-bottom: 2px;
}
.title {
     padding: 16px 0;
     grid-area: title;
}
.externals {
     padding: 0 0 16px 0;
     grid-area: externals;
     justify-self: auto;
     display: inline-grid;
     grid-template-areas: 'GitHub LinkedIn';
     grid-gap: 16px;
     grid-template-columns: auto auto;
     justify-content: center;
     align-items: center;
}
.externals a {
     text-decoration: none;
     text-align: center;
     background-color: var(--dark);
     color: var(--white);
}
.externals a:hover i { color: var(--blue); }
.GitHub { grid-area: GitHub; }
.LinkedIn { grid-area: LinkedIn; }
.content {
     grid-area: content;
}
.taglist div {
     background-color: var(--blue);
     color: var(--white);
     border-radius: 6px;
     padding: 3px 6px;
     margin: 0 8px 8px 0;
}
.taglist div p {
     font-family: 'Press Start 2P', cursive;
     letter-spacing: 2px;
     font-size: 12px;
     margin: 4px 12px;
}
.flex div, .stack div {
     display: inline-flex;
}
ul {
     list-style: none;
}
li {
     padding-left: 12px;
}
/* Google Material Icon Unicode sheet */
li:before {
     content: "\e5da";
     font-family: 'Material Icons';
     display: inline-block;
     margin-left: -12px;
     margin-right: 6px;
     font-size: 18px;
}

footer {
     font-size: 18px;
     font-weight: bold;
}

@media only screen and (min-width: 750px) {
     header {
          display: inline-grid;
          grid-template-areas: 'title externals';
          grid-template-columns: 1fr 85px;
          text-align: left;
          align-items: center;
          width: 100%;
     }
     .title { padding: 16px 0 16px 50px; }
     .externals {
          padding: 16px 50px 16px 0;
          justify-self: end;
     }
     footer, main > * { padding: 16px 75px; }
}
@media only screen and (min-width: 900px) {
     .timeContentGrid {
          display: grid;
          grid-template-areas: 'time content';
          grid-template-columns: 70px 1fr;
          grid-gap: 16px;
     }
     .timeWrap {
          grid-area: time;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     .time {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          white-space: nowrap;
          transform: rotate(-90deg);
          z-index: 0;
     }
     .dark .timeWrap, .blue .timeWrap {
          border-right: var(--white) solid 2.2px;
     }
     .white .timeWrap {
          border-right: var(--dark) solid 2.2px;
     }
     footer, main > * { padding: 16px 150px; }
}
@media only screen and (min-width: 1200px) {
     .title { padding: 16px 16px 16px 200px; }
     .externals { padding: 16px 200px 16px 16px; }
     .stack div {
          display: list-item;
          list-style: none;
          text-align: center;
     }
     #Experience, #Education, #Projects, #Collaborations, #Skills {
          padding: 16px;
          border-radius: 12px;
          box-shadow: -8px -8px var(--blue);
     }
     footer, main > * {
          padding: 16px 64px;
     }
     main {
          display: grid;
          margin: 24px;
          grid-gap: 24px;
          grid-template-columns: repeat(10, 1fr);
          grid-template-rows: repeat(3, auto);
     }
     .align-start {
          align-self: self-start;
     }
     #Experience {
          grid-column: auto / span 5;
          grid-row: 1 / span 1;
     }
     #Education {
          grid-column: auto / span 4;
          grid-row: 1 / span 1;
     }
     #Skills {
          grid-column: auto / span 1;
          grid-row: 1 / span 2;
     }
     #Projects {
          grid-column: auto / span 4;
          grid-row: 2 / span 1;
     }
     #Collaborations {
          grid-column: auto / span 5;
          grid-row: 2 / span 1;
     }
     .desktop-white {
          background-color: var(--white);
          color: var(--dark);
     }
     .desktop-dark {
          background-color: var(--dark);
          color: var(--white);
     }
     .desktop-dark *::selection {
          background: var(--white);
          color: var(--dark);
     }
     .desktop-white *::selection {
          background: var(--dark);
          color: var(--white);
     }
     .desktop-dark .timeWrap {
          border-right: var(--white) solid 2.2px;
     }
     .desktop-white .timeWrap {
          border-right: var(--dark) solid 2.2px;
     }
}
@media only screen and (min-width: 1600px) {
     .title { padding: 16px 0 16px 300px; }
     .externals { padding: 16px 300px 16px 0; }
}
