:root {
     --dark-blue: #071a1b;
     --light-blue: #004a4a;
     --orange: #bd7a00;
}


html, body {
     margin: 0;
}

h1, h2 {
     margin: 0
}
h1 { font-size: 42px; }
h2 {
     font-size: 30px;
     margin: 18px 0;
}
h3 { font-size: 24px; }
h4 { font-size: 20px; }

body {
     height: 100%;
     background-color: var(--dark-blue);
     color: var(--orange);
}

header {
     text-align: center;
     padding: 42px;
     color: var(--orange);
}

header, main > *, footer { padding: 16px 24px; }

i {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     display: inline-block;
     vertical-align: middle;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;
     /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
     /* Support for IE. */
     font-feature-settings: 'liga';
}
i.fab {
     margin-right: 10px;
     font-size: 24px;
     padding-bottom: 6px;
}
h2 > i.material-icons {
     font-size: 36px;
     margin-right: 10px;
     padding-bottom: 4px;
}
h3 > i.material-icons, h4 > i.material-icons {
     font-size: 24px;
     margin-right: 6px;
     padding-bottom: 2px;
}

.externals {
     width: calc(100% - 84px);
     padding: 16px 42px;
     display: inline-grid;
     grid-template-areas: 'GitHub LinkedIn';
     grid-gap: 16px;
     grid-template-columns: repeat(2, minmax(100px, 300px));
     justify-content: center;
     align-items: center;
}

.externals a {
     display: block;
     padding: 16px;
     border-radius: 6px;
     text-decoration: none;
     font-size: 24px;
     font-weight: bold;
     text-align: center;
     background-color: var(--light-blue);
     color: var(--orange);
}
.externals a:hover {
     background-color: var(--orange);
     color: var(--light-blue);
}

.GitHub {
     grid-area: GitHub;
}

.LinkedIn {
     grid-area: LinkedIn;
}
.timeContentGrid {
     display: grid;
     grid-template-areas: 'time content';
     grid-template-columns: 70px 1fr;
     grid-gap: 16px;
}
.offsetH {
     padding-left: 86px;
}
.timeWrap {
     grid-area: time;
     display: flex;
     align-items: center;
     justify-content: center;
}
.timeBorderBlue {
     border-right: var(--dark-blue) solid 2.2px;
}
.timeBorderOrange {
     border-right: var(--orange) solid 2.2px;
}
.time {
     margin: 0;
     font-size: 20px;
     font-weight: bold;
     display: flex;
     transform: rotate(-90deg);
}
.content {
     grid-area: content;
}
.taglist > div {
     display: inline-flex;
     border: var(--dark-blue) solid 2px;
     border-radius: 6px;
     padding: 3px 6px;
}

#Education {
     background-color: var(--orange);
     color: var(--dark-blue);
}
#Experience {
}
#Collaborations {
     background-color: var(--orange);
     color: var(--dark-blue);
}
#Skills {
}
#Projects {
     background-color: var(--orange);
     color: var(--dark-blue);
}

footer {
     font-size: 18px;
     font-weight: bold;
     background-color: var(--light-blue);
     color: var(--orange);
}

@media only screen and (min-width: 700px) {
     header, footer, main > * { padding: 16px 75px; }
}
@media only screen and (min-width: 900px) {
     header, footer, main > * { padding: 16px 150px; }
}
@media only screen and (min-width: 1200px) {
     header, footer, main > * { padding: 16px 250px; }
}
@media only screen and (min-width: 1600px) {
     header, footer, main > * { padding: 16px 400px; }
}
