.toggle {
    font-size: 20px;
    height: 40px;
    position: absolute;
    right: 28px;
    top: 12px;
    width: 40px;
}

.toggle i {
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    align-items: center;
    border: 2px solid var(--main);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 1;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
}

.toggle-label:hover {
    box-shadow: 8px 8px 2px var(--accent);
    opacity: 0.7;
}

.primary, .secondary {
    display: block;
    opacity: 0;
    position: relative;
    transition: opacity 0.3s, transform linear 0.3s;
    width: fit-content;
}

.toggle-checkbox + .toggle-label {
    background-color: var(--opposite);
    color: var(--main);
}

.toggle-checkbox:checked + .toggle-label.switcher.muted {
    background-color: var(--secondary);
}

.toggle-checkbox:checked + .toggle-label.switcher .secondary {
    opacity: 1;
    transform: translateX(50%);
}

.toggle-checkbox:checked + .toggle-label.switcher .secondary::before {
    opacity: 1;
}

.toggle-checkbox:not(:checked) + .toggle-label.switcher .primary {
    opacity: 1;
    transform: translateX(-50%);
}

.toggle-checkbox:not(:checked) + .toggle-label.switcher .primary::before {
    opacity: 1;
}

/**********************************\
|         Desktop overrides        |
\**********************************/

@media (min-width: 1050px) {
    .toggle {
        font-size: 30px;
        height: 60px;
        width: 60px;
    }

    .toggle i {
        height: 30px;
        width: 30px;
    }
}