
.pants {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	justify-content: center;
}
.skinny {
	grid-column: auto / span 1;
	padding: 16px;
}
.slim {
	grid-column: auto / span 2;
	padding: 16px;
}
.regular {
	grid-column: auto / span 3;
	padding: 16px;
}
.husky {
	grid-column: auto / span 4;
	padding: 16px;
}

.no-pad {
	padding: 0;
}

.right {
	float: right;
}

img {
	max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.hidden { display: none; }

.center { text-align: center; }

.no-pad { padding: 0; }


@media only screen and (max-width: 600px) {
	.mobilize {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 1.2;
	}

	.mobilize p{
		margin-top: 12px;
		margin-bottom: 0;
	}

	ul.menu > li > .menuItem {
		width: 100%;
		float: none;
	}

	ul.menu > li > .price, ul.menu > li > .new { float: none; }

	.skinny, .slim, .regular, .husky {
		grid-column: auto / span 4;
	}
}
