.pants {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	align-items: center;
}
.top { align-self: self-start; }
.bottom { align-self: self-end; }
.skinny { grid-column: auto / span 1; }
.slim { grid-column: auto / span 2; }
.regular { grid-column: auto / span 3; }
.husky { grid-column: auto / span 4; }
.skinny, .slim, .regular, .husky { padding: 16px; }

img {
	max-width: 100%;
    height: auto;
}

.right { float: right; }
.hidden { display: none; }
.center { text-align: center; }
.no-pad { padding: 0; }

footer, header {
	grid-column: auto / span 4;
	background-color: var(--red);
	color: white;
}

/* Start Navigation */

nav {
	grid-column: auto / span 4;
	background-color: black;
	margin: 0;
}

nav > ul {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	align-items: stretch;
	list-style-type: none;
	margin: 0 50px;
	padding: 0;
}

nav > ul > li {
	grid-column: auto / span 1;
	height: 100%;
	margin: 0;
}

nav > ul > li > a {
	min-height: 100%;
	margin: 0;
	padding: 16px;
	display: block;
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav > ul > li > a:hover {
	background-color: var(--add-opacity);
	color: white;
}

/* End Navigation */

@media only screen and (max-width: 800px) {
	.mobilize {
		display: block;
		width: 100%;
		line-height: 1.2;
	}

	.right {
		float: none;
	}

	.mobilize p{
		margin-top: 12px;
		margin-bottom: 0;
	}

	ul.menu > li > .menuItem {
		width: 100%;
		float: none;
	}

	ul.menu > li > .price, ul.menu > li > .new { float: none; }

	.skinny, .slim, .regular, .husky {
		grid-column: auto / span 4;
		text-align: center;
	}

	.mini-left {
		text-align: left;
	}
}
