:root{
	--red: #c01f01;
	--gray: #939496;
	--opaque-gray: #9394964a;
	--add-opacity: #fff3;
}

html, body {
	background-color: white;
	color: black;
	/*font-family: Verdana,sans-serif;*/
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

header {
	padding: 16px 0;
}

h2 { font-family: 'Hind', sans-serif; font-size: 36px; margin: 8px 0; }
h3 { font-family: 'Roboto', sans-serif;  font-size: 28px; margin: 8px 0; }
.best-seller, .new { font-family: 'Roboto', sans-serif;  font-size: 22px; margin: 8px 0; }
h4 { font-family: 'Open Sans Condensed', sans-serif;  font-size: 22px; margin: 8px 0; }
p, a, li, button { font-family: 'Quicksand', sans-serif; font-size: 18px; margin: 8px 0; }

/* Start Badges */
.best-seller {
	margin-left: 5px ;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: super;
	text-align: center;
	background-color: var(--red);
	color: white;
	border-radius: 4px;
}

.new {
	margin-left: 5px ;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	background-color: var(--gray);
	color: white;
	border-radius: 4px;
}

.price {
	float: right;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
    border: black 1px solid;
	text-align: center;
	font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}
/* End Badges */

ul.menu {
	border-top: var(--opaque-gray) 1px solid;
	list-style: none;
	margin-left: 0;
	padding: 0;
}

ul.menu > li {
	border-bottom: var(--opaque-gray) 1px solid;
	padding: 12px;
	overflow: auto;
}

ul.menu > li > .menuItem { float: left; }

ul.menu > li > p { clear: both; }

.banner-image {
	max-width: 100%;
	width: 700px;
}

a { color: white; }
a:hover { color: black; }

.btn {
	display: inline-block;
	background-color: black;
	color: white;
	user-select: none;
	padding: 6px 12px;
	border-radius: 4px;
	border: black 1px solid;
	text-decoration: none;
	font-size: 18px;
}

.btn-small{ font-size: 14px; }

.btn:hover {
	background-color: white;
	color: black; 
}

.btn::after {
	content: '';
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.btn:hover:after {
	content: '';
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.btn.btn-hov-gray:hover {
	background-color: var(--gray);
	color: white;
}

.btn.btn-hov-gray:hover:after {
	border: solid white;
}

#facebook {
	float: right;
	background-color: #365899;
	color: white;
	border: 0;
}

#facebook:hover {
	background-color: white;
	color: #365899;
	border: 0;
}

#facebook.btn:hover:after {
	border: solid #365899;
	border-width: 0 3px 3px 0;
	transform: rotate(-45deg);
}

.btn.no-caret:after {
	display: none;
}

.ja-red {
	background-color: var(--red);
	color: white;
}

.ja-gray {
	background-color: var(--gray);
	color: black;
}

.ja-white {
	background-color: white;
	color: black;
}

/* Start Form Fields */

input, textarea {
	font-size: 22px;
	font-family: 'VT323', monospace;
	border: 0;
	width: 100%;
	padding: 8px;
	overflow: visible;
}
input{ color: black; }
/*.icon{ width: 50px; }*/
textarea{ resize: none; }
label, input, textarea, .submit { cursor: pointer; }
.submit { font-size: 22px; }
i.fa {
	width: 32px;
	height: 32px;
	font-size: 32px;
	float: left;
	margin-right: 12px;
}
.no-flow { overflow: hidden; }
button > i.fa {
    float: right;
    width: auto;
    height: auto;
    font-size: 28px;
    margin: 0 0 0 12px;
}

/* End Form Fields */

/* Start Tabs */
* { box-sizing: border-box; }
.tablist {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	align-items: stretch;
	padding: 16px 16px 0 16px;
    overflow: hidden;
    background-color: var(--red);
    color: white;
}
.menu-dropdown { display: none; }
.tablist button {
	grid-column: auto / span 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
button.tab-header.inactive:hover {
    background-color: #ccc;
    color: black;
}
.tablist button.active {
    background-color: white;
    color: black;
}
.tablist button.inactive {
    background-color: #c01f01;
    color: white;
}
.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: white;
}
/* End Tabs */


@media only screen and (max-width: 800px) {
	/* Tablist Start */
	.tablist {
		padding: 16px;
	}
	.tablist button {
		font-weight: bold;
		grid-column: auto / span 5;
	}
	.tablist .inactive {
		display: none;
	}
	.tablist button.active {
		margin: 0;
		background-color: var(--red);
		color: white;
	}
	.tablist .menu-dropdown {
		display: initial;
		padding: 0;
	    background-color: var(--red);
	    color: white;
	    margin: 0;
	}
	.tablist .menu-dropdown:hover {
		display: initial;
		padding: 0;
	    background-color: var(--gray);
	    color: black;
	    margin: 0;
	}
	.drop-open {
		content: '';
		border: solid white;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		margin-left: 6px;
		transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
	}
	.drop-closed {
		content: '';
		border: solid white;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		margin-left: 6px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	.tablist.menu-dropdown.drop-open:hover, .tablist.menu-dropdown.drop-open:hover {
		border: solid black;
	}
	/* Tablist End */
}
