:root{
	--dark-gray: #424242;
	--gray: #777777;
	--light-gray: #cbcbcb;
	--text: #ededed;
	--green: #78e778;
	--green-hover: #baffba;
	--symbol: #a4dce8;
}

html, body {
	margin: 0;
	color: var(--text);
	overflow: hidden;
}

.wrapper {
	display: grid;
	grid-template-columns: 20% 30% 30% 20%;
	grid-template-rows: auto auto;
	align-items: center;
}

.sidebarwrap {
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding: 2vh 6px;
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
	overflow-y: scroll;
	direction:rtl;
	text-align:left;
}
.sidebarwrap::scrollbar, .sidebarwrap::-webkit-scrollbar {
	float: left;
}
.sidebar {
	height: 96vh;
	max-height: 96vh;
}
.titlewrap {
	font-family: 'Hind', sans-serif;
	font-size: 32px;
	padding: 1vh 18px;
	background-color: var(--gray);
	grid-column: 2 / span 2;
}
#title {
	height: 6vh;
	white-space: nowrap;
    overflow: hidden;
}
#title br{
	display: none;
}
#title * {
    display:inline;
    white-space:nowrap;
}
.compile {
	display: block;
	min-height: 100%;
	font-size: 24px;
	text-decoration: none;
	background-color: var(--green);
	color: black;
	grid-column: auto / span 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}
.compile:hover {
	background-color: var(--green-hover);
}
.docwrap {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	padding: 2vh 18px;
	background-color: var(--dark-gray);
	grid-column: auto / span 3;
	overflow-y: scroll;
}
#document {
	height: 88vh;
	max-height: 88vh;
}

.sidebar a {
	display: block;
	font-size: 18px;
	padding: 6px 0;
	text-decoration: none;
	grid-column: auto / span 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	margin-bottom: 12px;
	background-color: var(--gray);
	color: white;
}
.sidebar a:hover {
	background-color: #8d8b8b;
}
.sidebar a.black {
	background-color: black;
	color: white;
}
.sidebar a.black:hover {
	background-color: #000000b3;
}
.sidebar a.red {
	background-color: #ea4040;
	color: white;
}
.sidebar a.red:hover {
	background-color: #f85d5d;
	color: white;
}

#shortcuts {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
#shortcuts div {
	background-color: #333333;
	color: var(--light-gray);
	margin: 10% auto;
	padding: 0 14px;
	width: 60%;
}
.exit{
	color: var(--light-gray);
	float: right;
	font-size: 36px;
	font-weight: bolder;
}
.exit:hover, .exit:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
#shortcuts table{
	text-align: center;
	width: 100%;
	padding: 4px;
	border-collapse: collapse;
}
#shortcuts table, #shortcuts th, #shortcuts td {
	border: solid black 1px;
}
#shortcuts th, #shortcuts td {
	padding: 6px;
}
div:focus { outline: none; }

@media only screen and (max-width: 650px) {
	.titlewrap, .compile, .docwrap {
		grid-column: auto / span 4;
	}
	.titlewrap {
		font-size: 24px;
		text-align: center;
	}
	.compile, #title {
		height: 4vh;
		max-height: 4vh;
		padding: 1vh 0;
	}
	#document {
		height: 82vh;
	}

	.sidebarwrap {
		display: none;
	}
}